# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
.vscode/

# Frontend (landing-page)
landing-page/node_modules/
landing-page/build/

# Backend (ProducerConsumer)
ProducerConsumer/.gradle/
ProducerConsumer/**/build/
